<div class = "container">
  <div class="row">
    <h3> Create A New Booking </h3>
    <div class="row">
    <form class="col s12" method="post">
        <div class="row">
          <div class="input-field col s6">
            <input placeholder="Start Date" name="start_date" id="start_date" type="date" class="datepicker">
            <!--<label for="start_date">Start Date</label>-->
          </div>
          <div class="input-field col s6">
            <input placeholder="End Date" name = "end_date" id="end_date" type="date" class="datepicker">
            <!--<label for="end_date">End Date</label> -->
          </div>
          <script>
            $('.datepicker').pickadate({
              selectMonths: true, // Creates a dropdown to control month
              selectYears: 15 // Creates a dropdown of 15 years to control year
            });
          </script>   
          <button class="btn waves-effect waves-light" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
          </button>
        </div>
      </form>
    </div>

  </div>
</div>