 </main>
 <footer class="page-footer light-blue darken-3">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Mission Statement</h5>
          <p class="grey-text text-lighten-4">QBNB is a bed and breakfast platform for Queen's University alumni based in Toronto, Ontario. We hope to provide the best user experience and quality of service around!</p>


        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by Riley Karson, Emily Crawford, Julie Lycklama
      </div>
    </div>
  </footer>
  </body>
</html>