  <div class="container">
  	<!--  Login Section   -->
  	<div class="section">
  		<div class="row">
  			<div class="col s12 m6">
  				<h2> Account Details </h2>
  				<div class="col s12">
      				<div class="row">
        				<div class="input-field col s8">
          					<p>Name: {{Name}}</p>
                    <p>Email: {{Email}}</p>
                    <p>Phone: {{Phone Number}}</p>
                    <p>Faculty: {{Faculty}}</p>
                    <p>Degree: {{Degree}}</p>
        				</div>
        			</div>
        		</div>

            <div class="col s12">
              <div class="row">
                <h3>{{Title}}</h3>
                <ul>
                    {{#Properties}}
                      {{#.}}
                      <li>{{address}}</li>
                      {{/.}}
                    {{/Properties}}
                </ul>
              </div>
            </div>
  			</div>
  		</div>
  	</div>
  </div>